<div class="article-preview">
  <div class="article-meta">
    <a href="{% url 'profiles:profile_detail' username: article.author.username %}"><img src="{{ article.author.image_url|default:'https://static.productionready.io/images/smiley-cyrus.jpg' }}" /></a>
    <div class="info">
      <a href="{% url 'profiles:profile_detail' username: article.author.username %}" class="author">{{ article.author.username }}</a>
      <span class="date">{{ article.created_at | time: "%B %-d" }}</span>
    </div>
    {% if request.user? %}
    <button class="favorite-button favorite-article-btn btn btn-sm pull-xs-right {% if article in request.user.profile.favorite_articles %}btn-primary favorited{% else %}btn-outline-primary{% endif %}" data-article-slug="{{ article.slug }}">
      <i class="ion-heart"></i> <span class="counter">{{ article.favorited_by.size }}</span>
    </button>
    {% endif %}
  </div>
  <a href="{% url 'blogging:article_detail' slug: article.slug %}" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      {% for tag in article.tags %}
        <li class="tag-default tag-pill tag-outline">{{ tag.label }}</li>
      {% endfor %}
    </ul>
  </a>
</div>
