{% extend "base.html" %}

{% block data_controller %}blogging:home{% endblock data_controller %}

{% block content %}
<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {% if following_users %}
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'user' %} active{% endif %}" href="?articles=user">Your Feed</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'global' %} active{% endif %}" href="?articles=global">Global Feed</a>
            </li>
          </ul>
        </div>

        {% if current_tab == 'user' %}
          {% assign articles_query_param = "&articles=user" %}
        {% elsif current_tab == 'global' %}
          {% assign articles_query_param = "&articles=global" %}
        {% endif %}

        {% include "partials/article_feed.html" with additional_page_params = articles_query_param %}
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <a href="" class="tag-pill tag-default">programming</a>
            <a href="" class="tag-pill tag-default">javascript</a>
            <a href="" class="tag-pill tag-default">emberjs</a>
            <a href="" class="tag-pill tag-default">angularjs</a>
            <a href="" class="tag-pill tag-default">react</a>
            <a href="" class="tag-pill tag-default">mean</a>
            <a href="" class="tag-pill tag-default">node</a>
            <a href="" class="tag-pill tag-default">rails</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
