{% extend "base.html" %}

{% block data_controller %}blogging:home{% endblock data_controller %}

{% block content %}
<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            {% if following_users %}
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'user' %} active{% endif %}" href="?articles=user">Your Feed</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'global' %} active{% endif %}" href="?articles=global">Global Feed</a>
            </li>
            {% if targeted_tag %}
            <li class="nav-item">
              <a class="nav-link active" href="?tag={{ targeted_tag }}"><i class="ion-pound"></i> {{ targeted_tag }}</a>
            </li>
            {% endif %}
          </ul>
        </div>

        {% if current_tab == 'user' %}
          {% assign articles_query_param = "&articles=user" %}
        {% elsif current_tab == 'global' %}
          {% assign articles_query_param = "&articles=global" %}
        {% endif %}

        {% include "partials/article_feed.html" with additional_page_params = articles_query_param %}
      </div>

      {% if not tags.empty? %}
      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>
          <div class="tag-list">
            {% for tag in tags %}
            <a href="?tag={{ tag.label }}" class="tag-pill tag-default">{{ tag.label }}</a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
