{% extend "base.html" %}

{% block data_controller %}profiles:profile_detail{% endblock data_controller %}

{% block content %}
<div id="profile_page" class="profile-page" data-username="{{ profile.username }}">
  <div class="user-info">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1">
          <img src="{{ profile.image_url|default:'https://static.productionready.io/images/smiley-cyrus.jpg' }}" class="user-img" />
          <h4>{{ profile.username }}</h4>
          {% if profile.bio? %}
          <p>{{ profile.bio }}</p>
          {% endif %}
          {% if request.user? && request.user.profile == profile %}
            <a class="btn btn-sm btn-outline-secondary action-btn" href="{% url 'profiles:settings_update' %}">
              <i class="ion-gear-a"></i>
              &nbsp; Edit profile settings
            </a>
          {% elsif request.user? %}
            <button id="follow_button" class="btn btn-sm btn-outline-secondary action-btn">
              <i class="ion-plus-round"></i>
              &nbsp;
              <span id="follow_text" {% if following %}style="display:none;"{% endif %}>Follow {{ profile.username }}</span>
              <span id="unfollow_text" {% if not following %}style="display:none;"{% endif %}>Unfollow {{ profile.username }}</span>
            </button>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="articles-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'authored_articles' %} active{% endif %}" href="?articles=authored">{% if request.user? && request.user.profile == profile %}My Articles{% else %}Articles{% endif %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link{% if current_tab == 'favorited_articles' %} active{% endif %}" href="?articles=favorited">Favorited Articles</a>
            </li>
          </ul>
        </div>

        {% if current_tab == 'authored_articles' %}
          {% assign articles_query_param = "&articles=authored" %}
        {% elsif current_tab == 'favorited_articles' %}
          {% assign articles_query_param = "&articles=favorited" %}
        {% endif %}

        {% include "blogging/partials/article_feed.html" with additional_page_params = articles_query_param %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
